<div class="container-fluid mt-2">

    <ng-container *ngIf="this.pieces.length > 0">
        <div class="container enchanted-maze-game">
            <!-- Border top here. -->
            <div class="row m-0 p-0">
                <div class="col-auto maze-border maze-border-top-and-bottom maze-border-side"></div>
                <div class="col-auto m-0 p-0 maze-border maze-border-top-and-bottom maze-border-x-axis" *ngFor="let column of this.columns">
                    <button class="rounded border border-1 border-light w-100 chevron-hover mt-1 mb-1" [class.has-hint]="this.hasHint(0, column)" (click)="this.insertPieceAxis(true, true, column)" *ngIf="column % 2 == 1" [disabled]="this.isInsertDisabled()">
                        <i class="bi bi-chevron-double-down w-100"></i>
                    </button>                    
                </div>
                <div class="col-auto maze-border maze-border-top-and-bottom maze-border-side"></div>
            </div>

            <!-- Fill Rows -->
            <div class="row m-0 p-0" *ngFor="let row of this.rows">
                <div class="col-auto maze-border maze-border-side maze-border-y-axis m-0 p-0">
                    <button class="rounded border border-1 border-light h-100 chevron-hover ms-1 me-1" [class.has-hint]="this.hasHint(1, row)" (click)="this.insertPieceAxis(false, true, row)" *ngIf="row % 2 == 1" [disabled]="this.isInsertDisabled()">
                        <i class="bi bi-chevron-double-right h-100"></i>
                    </button>                    
                </div>
                <div class="col-auto m-0 p-0 single-maze" *ngFor="let column of this.columns" [@PieceInserted]="this.isPieceAffectedByInsert(row, column)">
                    <div >
                        <img [src]="this.getImageOfPiece(row, column)" [class.orientation-north]="this.getImageOrientation(row, column) == 0"
                        [class.orientation-east]="this.getImageOrientation(row, column) == 1" [class.orientation-south]="this.getImageOrientation(row, column) == 2"
                        [class.orientation-west]="this.getImageOrientation(row, column) == 3" (click)="this.movePlayer(row, column)">
                    </div>
                    <ng-container *ngIf="this.isPlayerLocation(row, column)">
                        <div class="col-auto player-location player" [class.player-one]="this.getPlayerNumber(row, column) == 0" [class.player-two]="this.getPlayerNumber(row, column) == 1"
                        [class.player-three]="this.getPlayerNumber(row, column) == 2" [class.player-four]="this.getPlayerNumber(row, column) == 3">
                            &#x2022;
                        </div>
                    </ng-container>
                    <ng-container *ngIf="this.tileHasTreasure(row, column)">
                        <div class="col-auto treasure-at-location" (click)="this.movePlayer(row, column)">
                            <img [src]="this.getTreasureImageOfTile(row, column)"/>
                        </div>
                    </ng-container>
                </div>
                <div class="col-auto maze-border maze-border-side maze-border-y-axis m-0 p-0">
                    <button class="rounded border border-1 border-light h-100 chevron-hover ms-1 me-1" [class.has-hint]="this.hasHint(2, row)" (click)="this.insertPieceAxis(false, false, row)" *ngIf="row % 2 == 1" [disabled]="this.isInsertDisabled()">
                        <i class="bi bi-chevron-double-left h-100"></i>
                    </button>                    
                </div>
            </div>

            <!-- Border bottom here -->
            <div class="row m-0 p-0">
                <div class="col-auto maze-border maze-border-top-and-bottom maze-border-side"></div>
                <div class="col-auto m-0 p-0 maze-border maze-border-top-and-bottom maze-border-x-axis" *ngFor="let column of this.columns">
                    <div class="col-auto maze-border maze-border-x-axis">                        
                        <button class="rounded border border-1 border-light w-100 chevron-hover mt-1 mb-1" [class.has-hint]="this.hasHint(3, column)" (click)="this.insertPieceAxis(true, false, column)" *ngIf="column % 2 == 1" [disabled]="this.isInsertDisabled()">
                            <i class="bi bi-chevron-double-up w-100"></i>
                        </button>                    
                    </div>
                </div>
                <div class="col-auto maze-border maze-border-top-and-bottom maze-border-side"></div>
            </div>
        </div>
    </ng-container>

    <div class="container enchanted-maze-menu">
        <div class="row">
            <h3>Menu</h3>
        </div>
        <div class="row" *ngIf="this.currentPiece != undefined">
            <div class="col-auto m-0 p-0">
                <div >
                    <img [src]="this.currentPiece.pieceImage || ''" [class.orientation-north]="this.currentPiece.orientation == 0"
                    [class.orientation-east]="this.currentPiece.orientation == 1" [class.orientation-south]="this.currentPiece.orientation == 2"
                    [class.orientation-west]="this.currentPiece.orientation == 3" >
                </div>
                <ng-container *ngIf="this.getPlayerAtCurrentPiece() > -1">
                    <div class="col-auto player-at-piece player" [class.player-one]="getPlayerAtCurrentPiece() == 0" [class.player-two]="getPlayerAtCurrentPiece() == 1"
                    [class.player-three]="getPlayerAtCurrentPiece() == 2" [class.player-four]="getPlayerAtCurrentPiece() == 3">
                        &#x2022;
                    </div>
                </ng-container>
                <ng-container *ngIf="this.treasureAtPiece()">
                    <div class="col-auto treasure-at-piece">
                        <img [src]="this.getTreasureImageOfPiece()" />
                    </div>
                </ng-container>                
            </div>
            <div class="col-3"></div>
            <div class="col-auto float-end">
                <button class="btn bg-primary text-light p-2" title="Show Hint" (click)="this.showHint()">
                    <i class="bi bi-question-circle"></i>
                    <span class="ms-2">Show Hint</span>
                </button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-auto">
                <button class="btn text-dark bg-warning" title="Rotate Clockwise" (click)="this.rotateCurrentPiece(true)" [disabled]="this.insertPiece">
                    <i class="bi bi-arrow-clockwise"></i>
                </button>                
            </div>
            <div class="col-auto">
                <button class="btn text-dark bg-warning" title="Rotate Counterclockwise" (click)="this.rotateCurrentPiece(false)" [disabled]="this.insertPiece">
                    <i class="bi bi-arrow-counterclockwise"></i>
                </button>                
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                Turn: {{ this.totalTurns }}
            </div>
            <div class="col-2">
                Players:
            </div>
            <div class="col-2">
                Treasure:
            </div>
            <div class="col-2">
                Score:
            </div>
        </div>
        <div class="row p-2 border border-1 border-dark rounded mb-1" *ngFor="let player of this.players">
            <div class="col-2 p-0 mt-1">
                <i class="bi bi-arrow-right-square-fill" style="font-size:24pt" *ngIf="this.getPlayersTurn() == player"></i>
            </div>
            <div class="col-2">
                <div class="col-auto p-0 player" [class.player-one]="player == 0" [class.player-two]="player == 1"
                [class.player-three]="player == 2" [class.player-four]="player == 3"></div>
            </div>
            <div class="col-2 p-0 mt-1">
                <img [src]="this.playersTreasures[player].treasureImage" />
            </div>
            <div class="col-2 p-0 mt-2">
                {{ this.score[player] }}
            </div>
        </div>
        <div class="row mt-2" *ngIf="!this.isGameEnded">
            <div class="col-auto p-0 m-0">
                Turn of:
            </div>
            <div class="col-auto player player-turn p-0 m-0 ms-2" [class.player-one]="getPlayersTurn() == 0" [class.player-two]="getPlayersTurn() == 1"
            [class.player-three]="getPlayersTurn() == 2" [class.player-four]="getPlayersTurn() == 3"></div>
        </div>
        <div class="row mt-2" *ngIf="!this.isGameEnded">
            <div class="col-auto" *ngIf="!this.isPieceInserted()">
                Insert Piece.
            </div>
            <div class="col-auto" *ngIf="this.isPieceInserted()">
                Move player.
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-auto p-2 rounded text-light bg-danger" *ngIf="this.message !== ''">
                {{ this.message }}
            </div>
        </div>
        <div class="row mt-2" *ngIf="this.isGameEnded">
            <div class="col-auto p-2 rounded text-light bg-success">
                Game ended. Highest score: {{ this.getHighestScore() }}                
            </div>
            <div class="col-auto mt-1">
               {{ (this.getWinningPlayers().length > 1) ? 'Winning players:' : 'Winning player:' }}
            </div>
            <div class="col-auto" *ngFor="let winner of this.getWinningPlayers()">
                <div class="col-auto player player-turn p-0 m-0 ms-2" [class.player-one]="winner == 0" [class.player-two]="winner == 1"
                [class.player-three]="winner == 2" [class.player-four]="winner == 3"></div>
            </div>
            <div class="col-auto">
                <button class="btn text-light bg-primary p-2" (click)="this.backToMenu()">
                    <i class="bi bi-arrow-return-right"></i>
                    <span class="ms-2">Back to Menu</span>
                </button>
            </div>
        </div>
        <div class="row mt-4" *ngIf="this.logMessages.length > 0" >
            <div class="row" *ngFor="let messages of this.logMessages">
                {{ messages }}
            </div>
        </div>
    </div>    

</div>